<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first page</title>
</head>
<body>
    {% if name %}
    <h1> Hello {{name}}</h1>
    {%else%}
    <h1>Hello World</h1>
    {%endif%}
    
    <uL>
        {% for order in orders %}
        <!-- <li>{{product.title}} -  {{ product.collection.title }}</li> -->
        <li>{{ order.id }} -- {{order.customer.full_name}} </li>
        {% endfor%} 

    </ul>
    <!-- {{orders.first_name}} -->
</body>
</html>